extends ../../layouts/default

block head
  title Blocks Page

block neck
  link(rel='stylesheet', href='/views/pages/details.min.css?#{cacheBreaker}')

block feet
  //script(src='/vendor/require/require.js' data-main="vendor/dsg/main")
  script(src='/views/pages/details.js')

block body
  div.blocks-form-container
    div#header
    div#results-table
    div#categories.reveal-modal
      h1 Categories
  
  script(type='text/template', id='tmpl-header')
    div.page-header
      -if (user)
        form.form-inline.pull-right
          div.input-group
            input.form-control(name='name', type='text', placeholder='enter a name')
            input.form-control(name='pageID', type='hidden', value!='<%- id %>')
            input.form-control(name='pageName', type='hidden', value!='<%- name %>')
            button.btn.btn-primary.btn-add(type='button') Create Deal
      nav.breadcrumbs
        a(href='/') Back to pages
      h1 <%- name %> Deals
      nav.actions
        ul
          li
            a(href!='#' data-reveal-id='categories') Edit Categories
          -if (user)
            -if (user.canPlayRoleOf("admin"))
              li
                a.page-preview(href!='/pages/<%- id %>/?allDeals=true') Show Deleted Deals
          li
            a.page-preview(href!='/pages/<%- id %>/preview/') Preview
  
  script(type='text/template', id='tmpl-results-table')
    table.table.table-striped
      thead
        tr
          th.col-sm-3 Deal Name
          th.col-sm-3 Headline
          th.col-sm-4 Link
          -if (user)
            th.col-sm-2
      tbody#results-rows
  
  script(type='text/template', id='tmpl-results-row')
    td.stretch
      a(href!='/deals/<%- _id %>/') <%- name %>
    td.stretch 
      <%- headline %>
    td.nowrap
      div <%- link %>
    -if (user)
      td.text-right
        input.btn.btn-default.btn-sm.btn-delete(type='button', value='Delete')
        input.btn.btn-default.btn-sm.btn-details.btn-primary(type='button', value='Edit')
  
  script(type='text/template', id='tmpl-results-empty-row')
    tr
      td(colspan='4') no documents matched
  
  script(type='text/template', id='data-record') !{data.record}

  script(type='text/template', id='data-deals') !{data.deals}
  
  script(type='text/template', id='tmpl-category-form')
    h2 Categories
    form.form-inline
      div.alerts
        |<% _.each(errors, function(err) { %>
        div.alert.alert-danger.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          |<%= err %>
        |<% }); %>
        |<% if (success) { %>
        div.alert.alert-info.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          | Changes have been saved.
        |<% } %>
      div.control-group(class!='<%= errfor.newCategory ? "has-error" : "" %>')
        label.control-label New Category:
        div.input-group
          input.form-control(type='text', name!='newCategory', placeholder!='enter a name')
          div.input-group-btn
            button.btn.btn-success.btn-add(type='button') Add
        span.help-block <%= errfor.newCategory %>
      div.control-group.list-group(class!='<%= errfor.categories ? "has-error" : "" %>')
        label.control-label Categories:
        div.categories
        |<% _.each(categories, function(cat) { %>
        |<% var i = categories.indexOf(cat) %>
        div.input-group(class!='<%= errfor.name ? "has-error" : "" %>')
          input.form-control(disabled=true, value!='<%= cat %>')
          div.input-group-btn
            button.btn.btn-danger.btn-delete(type='button')
              i.fa.fa-trash-o.fa-inverse
        |<% }); %>
        |<% if (categories.length == 0) { %>
        span.badge no permissions defined
        |<% } %>
        span.help-block <%= errfor.categories %>
      div.control-group
        button.btn.btn-primary.btn-set(type='button') Save Settings