extends ../../layouts/default

block head
  title Blocks Page

block neck
  link(rel='stylesheet', href='/views/index.min.css?#{cacheBreaker}')
  link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Andika')

block feet
  //script(src='/vendor/require/require.js' data-main="vendor/dsg/main")
  script(src='/views/index.js')

block body
  h1 Hello
  div.blocks-form-container
    div#form
  
  script(type='text/template', id='tmpl-blockspage-create')
    form
      div.alerts
        |<% _.each(errors, function(err) { %>
        div.alert.alert-danger.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          |<%= err %>
        |<% }); %>
      div.form-group(class!='<%= errfor.name ? "has-error" : "" %>')
        label.control-label Name:
        input.form-control(type='text', name='name', value!='<%= name %>')
        span.help-block <%= errfor.name %>
      div.form-actions
        button.btn.btn-primary.btn-login(type='button') Create
        input(type='hidden', name='returnUrl', value=returnUrl)